*
{
margin: 0px;
padding: 0px;
}
a:link {
	color: #ffffff;
}

a:hover {
	text-decoration: none;
	color: #ffffff;
}

a:visited {
	color: #ffffff;
}
body {
	background: #ffffff url(images/back_all.jpg) repeat-x;
}
#header {
	width: 1900px;
	height: 750px;
	margin: 0 auto;
	text-align: center;	
	background: #000000 url(images/masthead_fon.jpg);	
}
#menu {
	width: 1170px;
	height: 101px;
	margin: 0 auto;
	background: url(images/header_top.png);
}
#menu a {
	font-family: Raleway Bold, sans-serif;
	float: right;
	height: 50px;
	display: block;
	text-align: right;
	text-decoration: none;
	color: #ffffff;
	font-weight: Bold;
	font-size: 13px;
	padding-top: 45px;
}

#menu a:hover {
	color: #66697e;
	text-decoration: none;
}

#logo {
	width: 1170px;
	height: 649px;
	margin: 0 auto;
	text-align: center;	
}
#logo h1 {
	font-family: opensans, sans-serif;
	text-transform: uppercase;
	font-style: normal;
	font-size: 65px;
	color: #ffffff;
}
#logo h3 {
	font-family: Raleway SemiBold, sans-serif;
	text-transform: uppercase;
	font-style: normal;
	font-size: 13px;
	color: #ffffff;
	position: absolute;
	top: 615px;
	left: 0;
	width: 100%;
	text-align: center;	
}
#logo p {
	font-family: Raleway Regular, sans-serif;
	font-style: normal;
	font-size: 22px;
	color: #ffffff;
}
#image {
	position: relative;
	width: 100%;
}

#top {
	width: 1170px;
	height: 692px;
	margin: 0 auto;
}
#top table {
	width: 1050px;
	height: 692px;
	margin: 0 auto;
}
#top th {
	font-family: Raleway Bold, sans-serif;
	text-align: center;
	text-transform: uppercase;
	color: #000000;
	font-weight: Bold;
	font-size: 14px;
}
#top td {
	font-family: Raleway Regular, sans-serif;
	text-align: center;
	color: #000000;
	font-weight: normal;
	font-size: 14px;
}

#bot {
	width: 1900px;
	height: 710px;
	margin: 0 auto;
}
#bot  table {
	width: 100%;
	height: 700px;
	margin: 0 auto;
	padding:0px;
}
#bot div {
	position: relative;
	width: 100%;
}
#bot h3 {
	font-family: Raleway Bold, sans-serif;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	font-size: 14px;
	position: absolute;
	top: 160px;
	left: 0;
	width: 100%;
}
#bot p {
	font-family: Raleway Regular, sans-serif;
	text-align: center;
	color: #ffffff;
	font-size: 14px;
	position: absolute;
	top: 180px;
	left: 0;
	width: 100%;
}

#foot {
	width: 1900px;
	height: 250px;
	margin: 0 auto;
	text-align: center;	
	background: url(images/bot.jpg);	
}
#foot table {
	width: 1170px;
	height: 250px;
	margin: 0 auto;
}
#foot th {
	font-family: Raleway Bold, sans-serif;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	font-weight: Bold;
	font-size: 14px;
}
#foot td {
	font-family: Raleway Regular, sans-serif;
	text-align: center;
	color: #ffffff;
	font-weight: normal;
	font-size: 14px;
	margin: 50%;
}

#footer {
	width: 1900px;
	height: 94px;
	margin: 0 auto;
	text-align: center;	
	background: url(images/bot_pr.jpg);	
}
#footer table {
	width: 1900px;
	height: 94px;
	margin: 0 auto;	
}
#footer p {
	font-family: Raleway Regular, sans-serif;
	font-style: normal;
	font-size: 14px;
	text-align: center;
	color: #66697e;
}
#footer a {
	font-family: Raleway Regular, sans-serif;
	text-decoration: none;
	font-style: normal;
	font-size: 14px;
	color: #ffffff;
}
#footer a:hover {
	color: #66697e;
	text-decoration: none;
}